#outer {
    border: 3px solid rgb(136, 16, 98);
    padding: 20px 40px 20px 40px;
    margin: 20px;
    padding: 0;
}

.navbar {
    
    background-color: rgb(136, 16, 98);
    padding:15px 20px;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-link {
    display: flex;
    gap: 30px;
    align-items: center;
    color: white;   
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3 ease;
}
 .nav-link:hover {
    color: rgb(67, 71, 193)
 }

.nav-right {
    display: flex;
    align-items: center;
    
}

.logout-button {
    color:white;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 20px;
    transition:color 0.3s ease;
    cursor: pointer;
}

.logout-button:hover {
    color: rgb(67, 71, 193);
}

a {
    text-decoration: none;
}


#inner {
    margin: 30px 70px 30px 70px;
    border: 3px solid rgb(22, 116, 168);
    border-top-width: 30px;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
    color: red;
    position: relative;  
    margin-top: 0px;
}

/* .subdivision {
    border: 1px solid gray;
    padding-bottom: 15px;
    
    
} */

fieldset {
    margin: 0px;
    border: 1px solid gray; 
    margin-bottom: 0px;
    /* margin-top: 0px; */
    position: relative;
    padding-bottom: 30px;
     
}

legend {
    background-color: lightskyblue;
    border: 3px solid lightskyblue;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 40px;
    padding-left: 20px;
    /* width: 150px;
    height: 15px; */
    margin: 0 0 30px 0;
    font-weight: bold;;
}

.personaldetails, .contactdetails, .pass {
    display: grid;
    grid-template-columns: repeat(6,2fr);
    -ms-grid-column-align: start;
    grid-gap: 3px;
    text-align: right;
    
}


button {
    color: aliceblue;
    background-color: blue;
    position: relative;
    left: 50%;
    height: 45px;
    width: 100px; 
    border: 2px solid black;
    border-radius: 50px;  
    transition: margin 2s ease-in; 
    box-shadow: 2px 2px 2px gray;
    margin-top: 10px;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 15px;
}

button:hover {
    box-shadow: 4px 4px 10px gray;
    background-color: darkblue;
    transform: translateX(-50%);
}



/* .personaldetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    right: 15%;
} */



